.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 23.75rem;

  h2 {
    margin: 10px 0;
  }
  .error-message {
    color: white;
    font-style: italic;
    padding: 0.5rem;
    background-color: #ff4646;
    margin-top: 0.5rem;
    border-radius: 2px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
